extends ../../layout/default.pug
include ../../mixin/alert.pug
block main
    style.
      body {
        background-color: #f8f9fa;
      }
      .container {
        max-width: 500px;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      button {
        width: 100%;
      }
    body
     //- alert 
    - if (messages.success)
        +alert-success()
    - if (messages.error)
        +alert-error()
    .container.mt-5
      h2.text-center Cập nhập Dữ Liệu
      form(action=`/admin/model/edit/${model.id}?_method=PATCH` method="POST")
        .mb-3
          label.form-label(for="name") Tên :
          input.form-control(type="text" name="name" id="name" value=model.name)
        .mb-3
          label.form-label(for="linkFile") Hình ảnh :
          input.form-control(type="text" name="linkFile" id="linkFile" value=model.linkFile)
        .mb-3
          label.form-label(for="description") Mô tả :
          textarea.form-control(name="description" id="description" rows="3" value=model.description)
        .mb-3
         label.form-label(for="thumbnail") Ảnh đại diện (thumbnail) :
          input.form-control(type="text" name="thumbnail" id="thumbnail" value=model.thumbnail)
        button.btn.btn-primary(type="submit") Gửi
    script(src="/admin/js/script.js") 