
extends ../../layout/default.pug
include ../../mixin/form.pug
block main
    body
      //- Sidebar
      div(class="d-flex")
        include ../../partial/sidebar.pug
        div(class="container my-5" style="width: 85%;")
          h1(class="mb-4") #{title}
         
          table(class="table table-bordered table-hover")
            thead
              tr
                th(scope="col")
                  input(type="checkbox" name="check-all")
                th(scope="col") STT
                th(scope="col") Hình ảnh
                th(scope="col")  Slot 
                th(scope="col") Tọa độ x
                th(scope="col") Tọa độ y
                th(scope="col") Tọa độ z 
                th(scope="col") Thông tin
                th(scope="col") Trạng thái 
                th(scope="col") Hành động
            tbody
              each item, index in hotspot
                tr
                  td
                    input(type="checkbox" name="id" value=item._id)
                  td #{index + 1}
                  td
                    img(src=`${item.img}` alt="" class="img-thumbnail" style="width:100px; height:100px;")
                  td #{item.slot}
                  td #{item.x}
                  td #{item.y}
                  td #{item.z}
                  td #{item.info}
                  td
                    span(class=`badge ${item.status === 'active' ? 'bg-success' : 'bg-secondary'}`) #{item.status}
                  td
                    button(class="btn btn-success btn-sm" data-idHotspot=item._id) Thêm vào model

        //-   nav(aria-label="Page navigation")
        //-     ul(class="pagination justify-content-center")
        //-       if objPage.currentPage > 1
        //-         li(class="page-item")
        //-           button(class="page-link" number-page=objPage.currentPage-1) Trước
        //-       - for (var i = 1; i <= objPage.totalPage; i++)
        //-         li(class=`page-item ${objPage.currentPage === i ? 'active' : ''}`)
        //-           button(class="page-link" number-page=i) #{i}
        //-       if objPage.currentPage < objPage.totalPage
        //-         li(class="page-item")
        //-           button(class="page-link" number-page=objPage.currentPage+1) Tiếp

        //-   form(action="" method="POST" id="form-changeStatus" data-path=`${prefixAdmin}/product/change-status`)


        form(action=`/admin/model/addHotspot/${modelId}` method="POST" id="form-addHotspot" class="d-none")
          input(data-hotspot type="text" name="hotspotId") 
      script(src="/admin/js/script.js")