extends ../../layout/default.pug 
block main
  head
    title Hotspot Detail
    style.
      body { font-family: Arial, sans-serif; padding: 20px; }
      .container { max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 10px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); }
      .img-container { text-align: center; margin-bottom: 15px; }
      img { max-width: 100%; height: auto; border-radius: 5px; }
      .info { margin-bottom: 10px; font-size: 16px; }
      .label { font-weight: bold; }
  body
    .container
      h1 Chi tiết 
      .img-container
        img(src=hotspot.img, alt="Hotspot Image")
      .info
        span.label Slot: 
        span= hotspot.slot
      .info
        span.label X: 
        span= hotspot.x
      .info
        span.label Y: 
        span= hotspot.y
      .info
        span.label Z: 
        span= hotspot.z
      .info
        span.label Info: 
        span= hotspot.info
      .info
        span.label Status: 
        span(class=`badge ${hotspot.status === 'active' ? 'bg-success' : 'bg-secondary'}`) #{hotspot.status}
