extends ../../layout/default.pug
include ../../mixin/form.pug
include ../../mixin/alert.pug

block main
  body
    //- alert 
    - if (messages.success)
      +alert-success()
    - if (messages.error)
      +alert-error()

    //- Bố cục chính: Sidebar + Nội dung
    div(class="d-flex")
      include ../../partial/sidebar.pug

      //- Nội dung chính
      div(class="container d-flex flex-column" style="width: 85%; min-height: 100vh;")
        //- Phần nội dung có thể thay đổi chiều cao
        div(class="flex-grow-1 my-5")
          h1(class="mb-4") #{title}
          - const url_changeAll = "/admin/model/change-all" 
          - const url_create = "/admin/model/create"  
          +form-change-all(url_changeAll, url_create)
          +form-search
          table(class="table table-bordered table-hover")
            thead
              tr
                th(scope="col")
                  input(type="checkbox" name="check-all")
                th(scope="col") STT
                th(scope="col") Ảnh 
                th(scope="col") Tên
                th(scope="col") Hành động
            tbody
              each item, index in model
                tr
                  td
                    input(type="checkbox" name="id" value=item._id)
                  td #{index + 1}
                  td
                    img(src=item.thumbnail alt="" class="img-thumbnail" style="width:100px; height:100px;")
                  td #{item.name}
                  td
                    button(data-id=item._id class="btn btn-primary btn-sm me-2 link-model") Liên kết   

        //- Phân trang cố định ở cuối container
        nav(aria-label="Page navigation")
          ul(class="pagination justify-content-center mb-4")
            if objPage.currentPage > 1
              li(class="page-item")
                button(class="page-link" number-page=objPage.currentPage-1) Trước
            - for (var i = 1; i <= objPage.totalPage; i++)
              li(class=`page-item ${objPage.currentPage === i ? 'active' : ''}`)
                button(class="page-link" number-page=i) #{i}
            if objPage.currentPage < objPage.totalPage
              li(class="page-item")
                button(class="page-link" number-page=objPage.currentPage+1) Tiếp

    //- Form xử lý xóa
    form(action="" method="POST" id="form-linkModel" data-path=`/admin/hotspot/link-model/${hotspotId}`)

    //- Script
    script(src="/admin/js/script.js")
